<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>Add a product</h1>

<form action="" method="post">
        {% csrf_token %}
        <table>
            {{ form }}
        </table>
        <input type="hidden" name="next" value="{{ request.path }}">
        <button type="submit">Add Product</button>
</form>
</body>
<style>
body {
  background-color: powderblue;
  width: 80%;
  border: 20px solid #bdc3c7;
  font-family: 'Source Sans Pro', sans-serif;
  padding: 20px;
  margin: 20px auto;
  max-width: 700px;
}
h1   {color: blue;}
p    {color: red;}
.flex-container {
  display: flex;
}

li {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
</style>
</html>